<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset='utf-8'>
</head>

<body>

    <main class="container" layout:fragment="content">

        <div class="p-3 mt-3 mb-3">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#cadastrar" role="tab"
                        aria-controls="home" aria-selected="true">Cadastrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#listar" role="tab"
                        aria-controls="profile" aria-selected="false">Listar</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="cadastrar" role="tabpanel" aria-labelledby="cad-tab">

                    <h5 class="mt-4">Dados do Aluno</h5>
                    <hr />
                    <form th:action="${compra.data == null} ? @{/compras/salvar} : @{/compras/editar}"
                        th:object="${compra}" method="POST">

                        
                        <div class="form-row row">
                            <div class="col-12 mb-3">        
                                <label for="nomeAluno" class="col-sm-2 col-form-label">Nome</label>
                            
                                <select id="aluno" class="form-control selectEdit col-cm-6" th:field="*{aluno}">
                                    <option value="0">Selecione</option>
                                    <option th:each="d : ${alunos}" 
                                            th:value="${d.id}" 
                                            th:text="${d.nome}">Administração</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row row">
                        
                            <div class="col-md-4 mb-3">
                                <label for="saldoAluno">Saldo</label>
                                <input type="text" class="form-control" id="saldo" 
                                    th:value="${saldo}" name="saldo" placeholder="0,00"
                                    data-mask="#.##0,00" data-mask-reverse="true" readonly />
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="turmaAluno">Turma</label>
                                <input type="text" class="form-control" id="turma" 
                                    th:value="${turma}" name="turma" readonly />
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="turnoAluno">Turno</label>
                                <input type="text" class="form-control" id="turno"
                                    th:value="${turno}" name="turno" readonly />
                            </div>
                        </div>

                        <hr />
                        <h5 class="mt-4">Dados da Compra</h5>
                        <hr />
                        
                        <div class="form-row">

                            <div class="form-group d-flex flex-row bd-highlight mb-3">
                                <div class="p-2 bd-highlight">
                                    <label for="data">Data </label>
                                    <input type="date" class="form-control" id="data" th:field="*{data}" />
                                </div>
                                <div class="p-2 bd-highlight">
                                    <label for="valorCompra">Valor </label>
                                    <input type="text" class="form-control" id="valor" value="0.00" placeholder="0.00"
                                        data-mask="#.##0,00" data-mask-reverse="true" th:field="*{valor}" />
                                    
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <label for="descricao">Descrição</label>
                                <textarea class="form-control" id="descricao" rows="3"
                                    th:field="*{descricao}"></textarea>
                            </div>

                            <div class="form-group col-12">
                                <label for="observacao">Observação</label>
                                <textarea class="form-control" id="observacao" rows="3"
                                    th:field="*{observacao}"></textarea>

                            </div>
                        </div>
                        <hr />

                        <div class="form-group row justify-content-end">
                            <div class="d-flex col-12 justify-content-end">
                                <input type="hidden" id="id" th:field="*{id}"/>
                                <button type="submit" class="btn btn-primary ml-3">Salvar</button>
                            </div>
                        </div>

                    </form>
                </div>


                <div class="tab-pane fade" id="listar" role="tabpanel" aria-labelledby="list-tab">
                    <h3 class="mt-4">Listar</h3>
                    <hr />

                    <table class="table table-striped table-hover table-sm">
	                    <thead>
	                    <tr>
	                        <th>#</th>
	                        <th>Aluno</th>
	                        <th>Turma</th>
	                        <th>Turno</th>
                            <th>Valor</th>
                            <th>Situação</th>
	                        <th>Ação</th>
	                    </tr>
	                    </thead>
	                    <tbody>
		                    <tr th:each="d : ${compras}">
		                        <td th:text="${d.id}">3</td>
		                        <td th:text="${d.aluno.nome}">nome</td>
		                        <td th:text="${d.aluno.turma.nome}">turma</td>
		                        <td th:text="${d.aluno.turno.nome}">turno</td>
                                <td th:text="|R$ ${{d.valor}}|">turno</td>
                                <td> 
                                    <i class="material-icons"
                                    data-toggle="tooltip"
                                    th:attr="title=${d.situacao == true ? 'Pago' : 'Em aberto'}" 
                                    th:classappend="${d.situacao == true} ? 'icon-green' : 'icon-orange'"
                                    th:text="${d.situacao == true} ? 'check_circle_outline' : 'remove_circle_outline'">
                                    <span title="Pago"></span> </td>
		                        <td colspan="2">
		                            <a class="btn btn-info btn-sm" th:href="@{/compras/editar/{idCompra}/{idAluno} (idCompra=${d.id}, idAluno=${d.aluno.id}) }" role="button">
		                                <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
		                            </a>
		                            <button th:id="${ 'btn_compras/excluir/' + d.id}" type="button" class="btn btn-danger btn-sm"
		                            		data-toggle="modal" data-target="#myModal">
		                                <span class="oi oi-circle-x" title="Exclusão desabilitada" aria-hidden="true"></span>
		                            </button>
		                        </td>
		                    </tr>
	                    </tbody>
	                </table>
                </div>
            </div>
        </div>
    </main>

</body>

</html>