.footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 25px;
    box-shadow: var(--shadow);
    background-color: #FFF;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap;
}