/* UMA TAG HEADER QUE TEM A CLASSE HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: var(--shadow);
    position: fixed;
    width: calc(100% - var(--aside-width));
    top: 0;
    z-index: 100;
    overflow: hidden;
    white-space: nowrap;
    transition: width 300ms;
    background: #fff;
    /*z-index: 99; */
}

header h2{
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}

div.header h1 {
    font-size: 1.8em;
}

#nav-toggle {
    display: none;
}

.user {
    display: flex;
    align-items: center;
}

.user span {
    margin-right: 1rem;
}

.user small {
    display: inline-block;
    color: gray;
    margin-top: -3px;
}

div.info h1{
    color: var(--bg-dark);
}

.material-icons {
    font-size: 40px;
}

@media only screen and (max-width: 1100px){

    .header {
        width: calc(100% - 80px);
    }
}