div.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.logo img {
    padding: 5px 5px;
    width: 240px;
}

@media(max-width: 576px) {
    div.logo img {
        width: 150px;
    }
}