div.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.logo img {
    padding: 0px 0px;
    width: 140px;
}

@media(max-width: 576px) {
    div.logo img {
        width: 100px;
    }
}