<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <!-- Custom styles for this template -->
	<link href="/css/fragments/footer.css" rel="stylesheet" />
</head>
<body>
    
    <footer class="footer" th:fragment="footer">
        <span>
            <!-- Desenvolvido com <i class="oi oi-heart text-danger"></i>
             por <strong>Cod<span class="text-danger">3</span>r</strong> -->
             <a href="https://github.com/raphaeldecm">&copy; 2020 Raphael Muniz </a>. Todos os direitos reservados.
        </span>
    </footer>

</body>
</html>