<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset='utf-8'>
    <!-- Custom styles for this template -->
	<link href="/css/fragments/header.css" rel="stylesheet" />
</head>
<body>
    
    <header class="header" layout:fragment="header">
        <h2>
            <label for="nav-toggle">
                <span class="material-icons">menu</span>
            </label>
        </h2>
        <div class="info">
            <h1 class="mt-3" th:text="${applicationName}"> 
                TESTE
            </h1>
            <p class="lead text-muted" th:text="${sectionName}">
                Página Compra.
            </p>
            
        </div>
        <div class="user">
            <span class="material-icons user">perm_identity</span>
            <div sec:authorize="isAuthenticated()">
                <h4 sec:authentication="name"> Raphael Muniz</span></h4>
                <small th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Administrador</small>
                <small th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">Usuário</small>
                <!-- <small>Super Admin</small> -->
            </div>
        </div>
    </header>

</body>
</html>