<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/fragments/nav.css'>
</head>
<body>
    
    <aside class="menu-area" th:fragment="menu-area">
        <nav class="menu">
            <li class="nav-item">
                <a href="/" class="nav-item active"><i class="oi oi-home"> Início</i></a>
            </li>
            <hr />
            <li class="nav-item">
                <a href="/alunos/cadastrar" class="nav-item active"><i class="oi oi-person"> Aluno</i></a>
            </li>
            <li class="nav-item">
                <a href="/compras/cadastrar" class="nav-item active"><i class="oi oi-cart"> Compras</i></a>
            </li>
            <li class="nav-item">
                <a href="/pagamentos/cadastrar" class="nav-item active"><i class="oi oi-credit-card"> Pagamentos</i></a>
            </li>
            <hr />
            <li class="nav-item">
                <a href="/turmas/cadastrar" class="nav-item active"><i class="oi oi-people"> Turmas</i></a>
            </li>
            <li class="nav-item">
                <a href="/turnos/cadastrar" class="nav-item active"><i class="oi oi-clock"> Turno</i></a>
            </li>
            <hr />
            <li class="nav-item">
                <a href="/usuarios/cadastrar" class="nav-item active"><i class="oi oi-lock-locked"> Usuários</i></a>
            </li>
        </nav>
    </aside>

</body>
</html>