<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/fragments/nav.css'>
</head>
<body>
    
    <aside class="menu-area" th:fragment="menu-area">
        <nav class="menu">
            <li class="nav-item">
                <a href="/" class="nav-item active"><i class="material-icons">house</i> Início</a>
            </li>
            <hr />
            <li class="nav-item">
                <a href="/compras/cadastrar" class="nav-item active"><i class="material-icons">shopping_cart</i> Compras</a>
            </li>
            <li class="nav-item">
                <a href="/pagamentos/cadastrar" class="nav-item active"><i class="material-icons">payment</i> Pagamentos</a>
            </li>
            <hr />
            <li class="nav-item">
                <a href="/alunos/cadastrar" class="nav-item active"><i class="material-icons">person</i> Aluno</a>
            </li>
            <li class="nav-item">
                <a href="/turmas/cadastrar" class="nav-item active"><i class="material-icons">group</i> Turmas</a>
            </li>
            <li class="nav-item">
                <a href="/turnos/cadastrar" class="nav-item active"><i class="material-icons">access_time</i> Turno</a>
            </li>
            <hr />
            <li class="nav-item">
                <a href="/usuarios/cadastrar" class="nav-item active"><i class="material-icons">lock</i> Usuários</a>
            </li>
        </nav>
    </aside>

</body>
</html>