:root {
    --bg-dark: #0075E2;

    --logo-height: 150px;
    --header-height: 150px;
    --menu-top-height: 70px;
    --aside-width: 225px;
    --footer-height: 40px;

    --shadow:
        0 2px 23px 0 rgba(0, 0, 0, 0.1),
        0 2px 49px 0 rgba(0, 0, 0, 0.06);       
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.app {
    margin: 0px;
    display: grid;
    /* Duas colulas. uma o aside-width e outro o restante da tela (1fr) */
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows: 
        var(--header-height)
        1fr
        var(--footer-height);
    grid-template-areas: 
        "logo header"
        "menu content"
        "menu footer";

    height: 100vh;
    background-color: #F5F5F5;
}
/* 
/* TAG.CLASSE = A TAG ASIDE COM A CLASSE LOGO */
div.logo{
    grid-area: logo;
}

div.header {
    grid-area: header;
}

div.menu-area {
    grid-area: menu;
}

div.content {
    grid-area: content;
}

div.footer {
    grid-area: footer;
}

@media(max-width: 768px){
    .app {
        grid-template-rows:
            var(--header-height)
            var(--menu-top-height)
            1fr
            var(--footer-height);
        grid-template-columns: var(--aside-width) 1fr;
        grid-template-areas: 
            "logo header"
            "menu menu"
            "content content"
            "footer footer";
    }
}

@media(max-width: 576px) {
    .app {
        grid-template-rows: 
            var(--logo-height)
            var(--menu-top-height)
            1fr
            var(--footer-height);
        grid-template-columns: 1fr;
        grid-template-areas: 
            "logo"
            "menu"
            "content"
            "footer";
    }
}