div.container {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    box-shadow: 0px 0px 15px #0004;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 576px;
}
form h1{
    color: #0075E2;
}
div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.logo img {
    padding: 0px 0px;
    width: 240px;
}

/*div{*/
/*    border: solid 1px blue;*/
/*}*/