<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>

    <header class="header d-none d-sm-flex flex-column" layout:fragment="header">
        <h1 class="mt-lg-3" th:text="${applicationName}"> TESTE
        </h1>
        <p class="lead text-muted">Página Inicial.</p>
        
    </header>

    <main class="container" layout:fragment="content">
        <div class="p-3 mt-3">
            <h3>Descrição:</h3>
            <hr />
            <h5>Turnos, Turmas e Alunos</h5>
            <h6>Cadastro, edição e exclusão.</h6>
            <hr />
            <h5>Compras e Pagamentos</h5>
            <h6>Controle de compras, vendas e saldo dos alunos.</h6>
        </div>
    </main>
        
</body>
</html>